/* # id 
.class */


/* Images */
img{
  width:100% !important;
  height:100% !important;
}

/* Create border when hovering over image */
.active, .panel:hover{
  border-color:#0BADA6;
  border-style: solid; 
  }



  

