/* # id
  . class */
  
  /* body {
    background-color: gray;
  } */

  .navbar 
  .navbar-brand {
      background: teal;
  }

  #dropdown01 {
    color: pink;
  }

  #plot1 {
    color: pink;
  }

  #cards {background-color:  grey;}




